@import "../../../../style/variable.scss";

.make-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  background: $estee-secondary-header-color;
  border-top: 2px solid $estee-secondary-header-color;
  background-image: url("../../../../../assets/makeBg.png");
  background-position-y: -21%;
  background-position-x: 30%;

  .makecard {
    .ant-card-body {
      padding-bottom: 12px !important;
    }
  }

  .filter-container {
    margin-top: 1.5rem;
    z-index: 1;
  }

  .desired-growth-container {
    position: relative;
    top: -20px;
    z-index: 1;
  }

  .legend-container {
    position: relative;
    z-index: 1;
    width: 318px;
  }

  .make {
    position: relative !important;
    top: -30rem !important;
    margin: 0rem 0rem 0rem 0rem !important;
  }

  .row-container {
    position: relative;
    top: -24rem;
  }

  .ag-theme-alpine {
    --ag-header-foreground-color: $standard-font-color-bold;
    --ag-header-background-color: rgba(147, 173, 178, 0.14);
    --ag-borders: none;
    --ag-borders-row: 1px solid;
    --ag-row-border-color: #e4e6e7;
  }

  .manloc-comp,
  .extraPadding {
    .ant-card-body {
      padding: 0px !important;
    }
  }

  .right-col-border {
    border-right: 2px solid #d4e4ff !important;
  }

  .production-card {
    .ant-card-body {
      padding: 0px !important;
    }
  }

  .production-grid,
  .manloc-grid {
    height: 500px;

    .ag-theme-alpine .ag-header,
    .ag-header-cell {
      font-family: $font-family-nato-sans-bold;
      font-weight: 500;
      font-size: 16px;
      color: $nav-text-color;
    }
  .ag-cell-label-container {
      text-align: center;
      line-height: 17px;
      white-space: break-spaces;
    }
    .ag-cell-value {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font-family-nato-sans-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 14px !important;
      text-align: center;
      white-space: break-spaces;
      line-height: 16px;
      color: #343536 !important;
    }
  }

  .chart-spacing {
    padding-left: 1rem;
    padding-right: 0.8rem;
  }
}