@import "../../../../style/variable.scss";

.e2e-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  background: $estee-secondary-header-color;
  border-top: 2px solid $estee-sufficiency-header-color;
  background-image: url("../../../../../assets/e2eBg.png");
  background-position-y: -10%;
  background-position-x: 30%;

  .e2e-card .ant-card-body {
    padding-bottom: 6px !important;
    padding-top: 0px !important;
  }

  .e2eInventory .ant-card-body {
    padding-bottom: 5px !important;
  }

  .right-col-border {
    .y-axisTitle {
      top: 270px !important;
    }

    .x-axisTitle {
      top: -15px !important;
    }
  }

  .e2eInventory {
    .y-axis {
      top: 150px !important;
    }
  }

  .revenue-growth-card {
    .y-axisTitle {
      top: 200px !important;
    }
  }

  .fulfill-chart {
    .x-axisTitle {
      top: 39px !important;
    }

    .y-axisTitle {
      top: 300px !important;
    }
  }


  .ant-switch {
    border: 1px solid #0b228d !important;
    background-image: none !important;
    background-color: white !important;
    margin-left: 5px !important;
    padding: 10px !important;
    margin-right: 5px !important;
    margin-top: 4px !important;
  }

  .ant-switch-handle:before {
    background-color: #0b228d !important;
  }

  .filter-container {
    margin-top: 1.5rem;
    z-index: 1;
  }

  .desired-growth-continer {
    position: relative;
    top: -20px;
    z-index: 1;
  }

  .legend-container {
    position: relative;
    z-index: 1;
    width: 318px;
  }

  .chart-palecholder {
    width: 600;
    height: 556px;
    background: $chart-palceholder-backgroud-color;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 23px -8px rgba(56, 106, 235, 0.4);
    backdrop-filter: blur(100px);
    margin: 2rem 0.5rem 0.5rem 2rem;
  }

  .row-container {
    position: relative;
    top: -34rem;
  }
}

.right-col-border {
  border-right: 2px solid #d4e4ff !important;
}

.fulfill,
.source,
.make {
  position: relative !important;
  top: -35rem !important;
  margin: 0rem 0rem 0.5rem 0rem !important;
}

.e2e-card {
  margin-bottom: 1rem !important;
}


.switch {
  color: #09208c;

  font-weight: 700;

  font-size: 16px;

  margin-bottom: 2px;


}

.chart-spacing {
  padding-left: 2rem;
}


#revenueGrowthCategoryTotal {
  position: absolute;
  z-index: 2;
  padding-top: 20px;
  right: 50px;
}