@import "../../../../../style/variable.scss";

.reg-grid-container {
  height: 300px !important;

  .ag-theme-alpine {
    --ag-header-height: 50px !important;
    --ag-borders: none;
    --ag-borders-row: 2px solid !important;
    --ag-row-border-color: $standard-font-color-bold !important;
  }

  .ag-header-row-column-group {
    background: #d0e3fe;
    opacity: 0.4;
    border-radius: 4px !important;
  }

  .ag-header-row-column {
    background-color: $standard-font-color-bold;
    border: none;
  }

  .ag-header-viewport {
    background: $standard-font-color-bold;
  }

  .ag-cell-label-container {
    font-family: $font-family-nato-sans-bold;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #393939;
    line-height: 16px;
    white-space: break-spaces;
  }

  .ag-cell-value {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    line-height: 12px;
    font-family: $font-family-nato-sans-medium;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-medium;
    text-align: center;
    color: #0d1640;
    background: $standard-font-color-bold;
    border-left: 2px solid $standard-font-color-bold;
    border-right: 2px solid $standard-font-color-bold;
    border-top: 2px solid $standard-font-color-bold;
    white-space: nowrap;
  }

  .ag-row-last>div:nth-child(2) {
    font-family: $font-family-nato-sans-bold;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-medium;
    text-align: center;
    color: #0d1640;
  }

  .ag-row-last>div:nth-child(3) {
    font-family: $font-family-nato-sans-bold;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-medium;
    text-align: center;
    color: #0d1640;
  }

  .ag-row-last>div:nth-child(4) {
    font-family: $font-family-nato-sans-bold;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-medium;
    text-align: center;
    color: #0d1640;
  }

  .ag-row-last>div:nth-child(5) {
    font-family: $font-family-nato-sans-bold;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-medium;
    text-align: center;
    color: #0d1640;
  }
}

.reg-legend {
  margin: 0rem 1rem 1rem 1.2rem;
}

.legend-label {
  font-family: $font-family-nato-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);
  margin: 1rem;
}

.block {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 4px;
  // margin:0.5rem;
}

.block-less-than-50 {
  background: #ff6a6b;
}

.block-bw-50-75 {
  background: #fcaa54;
}

.block-75 {
  background: #9ed320;
}

.regionalized-volume {
  background: #dfe8fd;
}

.grid-name,.sales-grid-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #d0e3fe;
  font-family: $font-family-nato-sans-bold;
  font-style: normal;
  font-weight: 700;
  font-size:$font-size-large;
  color: #0d1640;
  padding-left: 2px;
  text-align: center;

  .ant-radio-wrapper {
    font-family: $font-family-nato-sans-medium;
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-medium;
    color: #8f8f8f;
  }

  .ant-radio-group {
    margin-left: 15px;
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: #09208c !important;
  }

  .ant-radio-checked .ant-radio-inner:after {
    background-color: #09208c;
  }

  .ant-radio-wrapper-checked {
    font-family: $font-family-nato-sans-medium;
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-medium;
    color: rgba(0, 0, 0, 0.85);
  }
}

.sales-grid-name{
  padding-left: 19.8%;
}

.text-orientation {
  position: absolute;
  top: 40.63%;
  right: -148.5%;
  font-family: $font-family-nato-sans-bold;
  font-style: normal;
  font-weight: 700;
  font-size: $font-size-medium;
  line-height: 24px;
  color: #0d1640;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.reg-grid {
  .ant-card-body {
    padding: 3px !important;
  }
}

.custom-flex {
  display: block !important;
  flex: 0 0 1.5% !important;
}

.custom-flex-1 {
  display: block;
  flex: 0 0 42% !important;
  max-width: 31.5% !important;
}

.format-text-color {
  font-family: $font-family-nato-sans-medium;
  font-style: normal;
  font-weight: 200 ;
  font-size: $font-size-large ;
  color: #0D1640;
}