@import "../../../style/variable.scss";

.top-priority-grid {
  height: 600px !important;
.ag-theme-alpine {
    --ag-header-height: 50px !important;
    --ag-row-height: 50px !important;
    --ag-header-cell-hover-background-color: #d0e3fe;
    --ag-borders: none;
    --ag-borders-row: 2px solid !important;
    --ag-row-border-color: $standard-font-color-bold !important;
  }

  .ag-header-group-cell-label {
    font-family: $font-family-nato-sans-bold;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-large;
    text-align: center;
    color: #0d1640;
  }


  .ag-header-group-cell-with-group {
    background: #d0e3fe !important;
    margin-right: 1px;
    border-right: 3px solid $standard-font-color-bold;
  }

  .ag-cell-label-container {
    font-family: $font-family-nato-sans-bold;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-medium !important;
    color: #0d1640;
    line-height: 16px;
    white-space: break-spaces;
    text-align: center;
  }

  .ag-cell-value {
    font-family: $font-family-nato-sans-medium;
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-medium !important;
    text-align: center;
    color: #0d1640;
    background: $standard-font-color-bold;
    border-left: 2px solid $standard-font-color-bold;
    border-right: 2px solid $standard-font-color-bold;
    border-top: 2px solid $standard-font-color-bold;
  }

  .ag-header-cell {
    background-color: #ffffff;
  }

  .ag-header-cell:hover {
    background-color: #ffffff !important;
  }

  .ag-header-row-column {
    background-color: $standard-font-color-bold;
    border: none;
  }

  .ag-header-viewport {
    background: $standard-font-color-bold;
  }


  .upside-cell-value {
    position: relative;
    bottom: 4px;
    font-family: $font-family-nato-sans-bold;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-medium !important;
    text-align: left;
    color: #0d1640;
    padding: 0px 0px 0px 14px;
  }

  .downside-cell {
    display: flex;
    flex-direction: row-reverse;

    .downside-cell-value {
      position: fixed;
      right: 19px;
      bottom: 4px;
      font-family: $font-family-nato-sans-bold;
      font-style: normal;
      font-weight: 700;
      font-size: $font-size-medium !important;
      text-align: end;
      color: #0d1640;
      padding: 0px 13px 0px 0rem;

    }


  }

}